<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<div class="masthead clearfix">
				<div class="inner">
					<h1 class="masthead-brand">Nebula <sup><small>v0.0.3</small></sup></h1>
					<ul class="nav masthead-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
					</ul>
				</div>
			</div>
			<div class="inner cover">
				<h1 class="cover-heading">Learn, Develop & Perform Web</h1>
				<p class="lead">Nebula is an open source application skeleton for a typical Backbone web apps. You can use it to quickly bootstrap your Backbone web application projects.</p>
				<p class="lead">
					<a class="btn btn-default btn-sm" href="//github.com/hegdeashwin/Nebula" target="_blank">Learn more...</a>
				</p>
				<p>
					<img src="//travis-ci.org/hegdeashwin/Nebula.png?branch=Nebula-with-Bootstrap-3x" alt="Build Passing with Travis-CI"/>
					<img src="//cdn.gruntjs.com/builtwith.png" alt="Build with Grunt"/>
				</p>
			</div>
			<div class="mastfoot">
				<div class="inner">
					<p>
						<iframe src="//ghbtns.com/github-btn.html?user=hegdeashwin&repo=Nebula&type=watch" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
	  					<iframe src="//ghbtns.com/github-btn.html?user=hegdeashwin&repo=Nebula&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
	  					<iframe src="//ghbtns.com/github-btn.html?user=hegdeashwin&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe>
					</p>
					<p>
						Maintained by the <a href="//github.com/hegdeashwin" target="_blank">core developer</a> with the help of our <a href="//github.com/hegdeashwin/Nebula/graphs/contributors" target="_blank">contributors</a>. Code licensed under <a href="//raw.github.com/hegdeashwin/Nebula/master/LICENSE" target="_blank">MIT</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>