	<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<header class="masthead clearfix"></header>
			<section id="innerContainer" class="inner cover">
				<h1 class="cover-heading">Learn, Develop & Perform Web</h1>
				<p class="lead">Nebula is an open source application skeleton for a typical Backbone web apps. You can use it to quickly bootstrap your Backbone web application projects.</p>
				<p class="lead">
					<a class="btn btn-default btn-sm" href="//github.com/hegdeashwin/Nebula" target="_blank">Learn more...</a>
				</p>
				<p>
					<img src="//travis-ci.org/hegdeashwin/Nebula.png?branch=Nebula-with-Bootstrap-3x" alt="Build Passing with Travis-CI"/>
					<img src="//cdn.gruntjs.com/builtwith.png" alt="Build with Grunt"/>
				</p>
			</section>
			<footer class="mastfoot"></footer>
		</div>
	</div>
</div>
